<!-- Benefits Start -->
<section class="benefit p-40" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 mb-xl-0 mb-24">
                <div class="benefit-block bg-white">
                    <div class="image-box">
                        <img src="~/assets/img/benefit-1.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4 class="lightest-black mb-8">We are Now Available</h4>
                        <p class="color-medium-gray">Call +1 555 666 888 contact with us</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-lg-0 mb-24">
                <div class="benefit-block bg-white">
                    <div class="image-box">
                        <img src="~/assets/img/benefit-2.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4 class="lightest-black mb-8">International Flight</h4>
                        <p class="color-medium-gray">Call +1 555 666 888 contact with us</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 ">
                <div class="benefit-block bg-white">
                    <div class="image-box">
                        <img src="~/assets/img/benefit-3.png" alt="">
                    </div>
                    <div class="text-box">
                        <h4 class="lightest-black mb-8">Check Refund</h4>
                        <p class="color-medium-gray">Call +1 555 666 888 contact with us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Benefits End -->