@model TravelBooking.Web.ViewModels.Auth.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<div class="page-content m-0">
    <section class="signup bg-white">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-9 col-sm-10 p-0">
                <div class="container-fluid">
                    <div class="form-block">
                        <a asp-controller="Account" asp-action="Login" class="color-primary h6 mb-30">
                            <i class="fal fa-chevron-left"></i>&nbsp;&nbsp;Back to Login Page
                        </a>
                        <h2 class="mb-16 light-black">Set New Password</h2>
                        <p class="color-medium-gray mb-30">Please enter your new password.</p>
                        
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        
                        <form method="post" asp-controller="Account" asp-action="ResetPassword" class="form-group contact-form">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="Email" />
                            <input type="hidden" asp-for="Token" />
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-24">
                                        <label class="form-label">New Password</label>
                                        <input asp-for="NewPassword" class="form-control" placeholder="At least 8 characters" autocomplete="new-password" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        <small class="text-muted">Password must be at least 8 characters and contain uppercase, lowercase, number and special character.</small>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-24">
                                        <label class="form-label">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Re-enter your password" autocomplete="new-password" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="cus-btn small-pad mb-24">
                                        <i class="far fa-check-circle me-2"></i>Reset Password
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 p-0">
                <div class="img-block">
                    <img src="~/assets/img/inner-banner-1.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
