@model TravelBooking.Web.ViewModels.Auth.SignUpViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sign Up";
    var returnUrl = ViewData["ReturnUrl"] as string ?? "/";
}
<div class="page-content m-0">
    <section class="signup v2 bg-white">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-9 col-sm-10 p-lg-0">
                <div class="container-fluid">
                    <div class="form-block">
                        <a asp-controller="Home" asp-action="Index" class="color-primary h6 mb-30"><i class="fal fa-chevron-left"></i>&nbsp;&nbsp;Back to Home</a>
                        <h2 class="mb-30 light-black">Create Account</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <form method="post" asp-controller="Account" asp-action="SignUp" asp-route-returnUrl="@returnUrl" class="form-group contact-form">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-24">
                                        <input asp-for="UserName" class="form-control" placeholder="Username" autocomplete="username" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-24">
                                        <input asp-for="Email" class="form-control" placeholder="Email" autocomplete="email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-24">
                                        <input asp-for="Password" class="form-control" placeholder="Password" autocomplete="new-password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-24">
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="new-password" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="cus-btn small-pad mb-24">Create Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 p-0">
                <div class="img-block">
                    <img src="~/assets/img/inner-banner-1.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
