<!-- modal-popup area Start  -->
<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <div class="search-popup__content">

        <form role="search" method="get" asp-controller="Search" asp-action="Results">
            <input type="text" name="q" placeholder="Search flights, news or hotels...">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
</div>
<!-- search-popup end-->