@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title-Banner Start -->
<div class="title-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="banner-area">
                <img src="~/assets/img/vacation.svg" alt="" class="left-image">
                <div class="content-box">
                    <h1 class="fw-700 lightest-black">Privacy <br class="title-break">  Policy</h1>
                </div>
                <img src="~/assets/img/plane.svg" alt="" class="right-image">
            </div>
        </div>
    </div>
</div>
<!-- Title-Banner End -->
<!-- Main Content Start -->
<div class="page-content m-0">

    <!-- Privacy Policy STart -->
    <section class="privacy-policy p-60">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-lg-0 mb-24">
                    <div class="pp-sidebar bg-white p-24 light-shadow br-20">
                        <div class="filter-block box-1">
                            <div class="title mb-24 d-flex align-items-center justify-content-between" data-count="1">
                                <h4 class="color-black">Overview </h4>
                                <i class="fal fa-chevron-up color-primary"></i>
                            </div>
                            <div class="content-block mb-24">
                                <h5 class="dark-gray mb-16">We care about your privacy</h5>
                                <h5 class="dark-gray">Our Privacy Policy in brief</h5>
                            </div>
                            <hr class="bg-sec-gray mb-24">
                        </div>
                        <div class="filter-block box-2">
                            <div class="title mb-24 d-flex align-items-center justify-content-between" data-count="2">
                                <h4 class="color-black">About </h4>
                                <i class="fal fa-chevron-up color-primary"></i>
                            </div>
                            <div class="content-block mb-24">
                                <h5 class="dark-gray mb-16">About the Flynow</h5>
                                <h5 class="dark-gray mb-16">Providing Your Personal info</h5>
                                <h5 class="dark-gray mb-16">Third Party Websites</h5>
                                <h5 class="dark-gray">Updates</h5>
                            </div>
                            <hr class="bg-sec-gray mb-24">
                        </div>
                        <div class="filter-block box-3">
                            <div class="title mb-24 d-flex align-items-center justify-content-between" data-count="3">
                                <h4 class="color-black">More Information </h4>
                                <i class="fal fa-chevron-up color-primary"></i>
                            </div>
                            <div class="content-block">
                                <h5 class="dark-gray mb-16">Legal Basis for using your personal information</h5>
                                <h5 class="dark-gray mb-16">Cookies</h5>
                                <h5 class="dark-gray">How to Contact Us</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="bg-white p-24 light-shadow br-20 mb-24">
                        <h5 class="light-black mb-24">We care about your privacy </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                    </div>
                    <div class="bg-white p-24 light-shadow br-20 mb-24">
                        <h5 class="light-black mb-24">Our Privacy Policy in brief </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400 mb-24">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                        <h6 class="light-black mb-8">Our Privacy Policy in brief </h6>
                        <ul class="mb-24">
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                        </ul>
                        <h6 class="light-black mb-8" data-sal="slide-left" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">How we use your Personal Info </h6>
                        <p class="dark-gray mb-8 fw-400">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula </p>
                        <ul class="mb-24">
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                        </ul>
                        <h6 class="light-black mb-8">Cookies </h6>
                        <p class="dark-gray mb-8 fw-400">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                    </div>
                    <div class="bg-white p-24 light-shadow br-20 mb-24" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <h5 class="light-black mb-24">Our Privacy Policy in brief </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400 mb-24">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                        <ul class="">
                            <li class="dark-gray mb-24">
                                Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit
                                adipiscing gravida suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce.
                                Egestas commodo neque mattis enim magnis mauris massa. Donec id eu sapien pulvinar malesuada tempor sociis quis.
                            </li>
                            <li class="dark-gray">
                                Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit
                                adipiscing gravida suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce.
                                Egestas commodo neque mattis enim magnis mauris massa. Donec id eu sapien pulvinar malesuada tempor sociis quis.
                            </li>
                        </ul>

                    </div>
                    <div class="bg-white p-24 light-shadow br-20 mb-24" data-sal="slide-left" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <h5 class="light-black mb-24">Providing your personal information </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                    </div>
                    <div class="bg-white p-24 light-shadow br-20 mb-24" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <h5 class="light-black mb-24">Third party websites </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                    </div>
                    <div class="bg-white p-24 light-shadow br-20 mb-24" data-sal="slide-left" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <h5 class="light-black mb-24">Updates </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                    </div>
                    <div class="bg-white p-24 light-shadow br-20 mb-24" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <h5 class="light-black mb-24">Legal Basis for using your personal information </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400 mb-24">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                        <ul class="mb-24">
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                            <li class="dark-gray">Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing.</li>
                        </ul>
                    </div>
                    <div class="bg-white p-24 light-shadow br-20 mb-24" data-sal="slide-down" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <h5 class="light-black mb-24">Cookies </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                    </div>
                    <div class="bg-white p-24 light-shadow br-20 mb-24" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <h5 class="light-black mb-24">How to Contact Us </h5>
                        <hr class="bg-light-gray w-50 mb-24">
                        <p class="dark-gray fw-400">
                            Lorem ipsum dolor sit amet consectetur. Maecenas lobortis gravida lobortis nulla nibh. Blandit adipiscing gravida
                            suspendisse lacinia. Eleifend sed turpis aliquet non condimentum cursus ligula tincidunt fusce. Egestas commodo
                            neque mattis enim magnis mauris massa.
                            Donec id eu sapien pulvinar malesuada tempor sociis quis. Porta turpis tellus pellentesque enim elementum. Netus in
                            facilisis pharetra pellentesque eu eget. Egestas euismod ac vitae nisl quam sed urna. Pretium amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Privacy Policy End -->

</div>
<!-- Main Content End -->